<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body style=" background-color:lightseagreen;">
<br>
<h1 style="text-align: center;">          IMAGE-GRAM MAGNIFIER</h1>

<div class='container-fluid'>
  <div class='row'>
    <div class="col-sm-2">
    <img appZoomhover src="https://images.unsplash.com/photo-1531583044854-c6b7d8490ecf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60">
    </div>
    <div class='col-sm-1'>

    </div>
    <div class='col-sm-2' >
      <img appZoomhover src="https://images.unsplash.com/photo-1505159940484-eb2b9f2588e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60">
      </div>
      <div class='col-sm-1'>

      </div>
      <div class='col-sm-2' >
        <img appZoomhover src="https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class='col-sm-1'>

        </div>
        <div class='col-sm-2' >
          <img appZoomhover src="https://images.unsplash.com/photo-1528184039930-bd03972bd974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
          </div>
    </div>

    <div class='row'>
      <div class="col-sm-2">
      <img appZoomhover src="https://images.unsplash.com/photo-1484902945377-bd2a38e625cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
      </div>
      <div class='col-sm-1'>

      </div>
      <div class='col-sm-2' >
        <img appZoomhover src="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class='col-sm-1'>

        </div>
        <div class='col-sm-2' >
          <img appZoomhover src="https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">

          </div>
          <div class='col-sm-1'>

          </div>
          <div class='col-sm-2' >
            <img appZoomhover src="https://images.unsplash.com/photo-1506104489822-562ca25152fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
          </div>
      </div>
  </div>

</body>
